@import "@fontsource/montserrat";
@import "@fontsource/poppins/500.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    background-color: #191919;
  }

  /* 100vh minus header */
  .full-vh {
    min-height: calc(100vh - 3.5rem);
  }

  /* Project card min height */
  .card-height {
    min-height: 17.2rem;
  }

  /* React tooltip */
  .react-tooltip {
    padding: 0.25rem 0.5rem !important;
  }

  /* Disable arrows on number input */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
    @apply text-gray-900;
  }

  p {
    @apply font-body;
    @apply text-gray-700;
  }
}
